.RollDice {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.RollDice button {
  width: 15em;
  padding: 1.5em;
  border: 0;
  border-radius: 10px;
  color: white;
  background-color: black;
  margin-top: 3em;
  align-self: center;
}

.RollDice button:hover {
  background-color: darkslateblue;
  cursor: pointer;
}
