.Pokecard {
  background-color: white;
  text-align: center;
  width: 300px;
  padding: 10px;
  margin: 1rem;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
  border-radius: 5px;
}

.Pokecard h3 {
  color: #1b2b8f;
}

.Pokecard img {
  width: 20%;
}
